.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 40%;
  height:90%;
  justify-self: center;
  align-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
   transform: translate(-50%, -50%)
}

button:hover {
    background: gray;
  color: white;
}

button:active {
    background: rgba(0, 0, 0, 0.733);
  color: white;
}

.zero-top {
  grid-column: 1/5;
  text-align: right;
  background: #858694;
    border: 1px solid #c0c0c0;
}
.zero-bottom {
  grid-column: 1/3;
  border: 1px solid #c0c0c0;
}


.orange {
  background: #f5913e;
  border: 1px solid #c0c0c0;
}

.dark {
  border: 1px solid #c0c0c0;
}